<app-navbar></app-navbar>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-7">
                
                <div class="row pt-2 pb-4">
                    
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom" *ngFor="let skill of skills">
                                <i class="fa fa-check text-primary mr-3"></i>
                                <h2>{{ skill.valeur }}</h2>
                                <ul>
                                  <li *ngFor="let sousSkill of sousSkills[skill.id]">
                                    <h4>{{ sousSkill.valeur }}</h4>
                                  </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>