<app-navbar></app-navbar>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-7">
                
                <div class="row pt-2 pb-4">
                    
                    <div class="col-6 col-md-8">
                        <p>{{qcmDtat.qcm}}</p>
                        <div>
                            <label>
                                <input type="radio" name="reponse" value="أ" [(ngModel)]="reponseUtilisateur"> أ
                            </label><br>
                        
                            <label>
                                <input type="radio" name="reponse" value="ب" [(ngModel)]="reponseUtilisateur"> ب
                            </label><br>
                        
                            <label>
                                <input type="radio" name="reponse" value="ج" [(ngModel)]="reponseUtilisateur"> ج
                            </label><br>
                            <label>
                                <input type="radio" name="reponse" value="د" [(ngModel)]="reponseUtilisateur"> د
                            </label><br>

                            <p>{{ message }}</p>
                        </div>
                        <input (click)="veriferRep()" type="button" class="btn btn-primary mt-2 py-2 px-4" value="envoyer ma réponse">

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>